<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Time</display-name>
  <servlet>
    <servlet-name>mvc</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring-mvc.xml</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>mvc</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>com.wf.web.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/imageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListUserServlet</servlet-name>
    <servlet-class>com.imooc.ListUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUserServlet</servlet-name>
    <url-pattern>/list.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CounterServlet</servlet-name>
    <servlet-class>com.inspur.ch9.CounterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CounterServlet</servlet-name>
    <url-pattern>/servlet/CounterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Ch9Servlet2</servlet-name>
    <servlet-class>com.inspur.ch9.Ch9Servlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ch9Servlet2</servlet-name>
    <url-pattern>/servlet/Ch9Servlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showServlet</servlet-name>
    <servlet-class>com.inspur.ch10.ShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showServlet</servlet-name>
    <url-pattern>/showServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>